@import 'fonts.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* banner */
.banner{
    background:  linear-gradient(45deg, rgb(29, 17, 62) 26%, rgb(97, 9, 148));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    gap: 24px;

    
}
.banner .icon-lenta{
    font-size: 50px;
}

.banner p{
    max-width: 300px;
    color:#ffffff;
    font-style: 16px;
    line-height: 19px;

}
.icon-lenta::before{
    /* в content вставляеться unicod */
    content: '\f008';
    font-weight: 300;
    color: white;
    
}
::before,
::after{
    font-family: 'icons';
    
}
/* banner end*/

/* title */

.title{
    color: #F18128;
    border: 2px solid #F18128 ;
    padding: 5px 10px;
    font-style: 36px;
    line-height: 32px;
    width: max-content;
    display: inline-flex;
    border-radius: 5px;
    margin-top: 100px;

    
}

/* title end */

/* button */
.vue-btn{
    width: 400px;
    padding: 17px 10px;
    display: inline-flex;
    background: #F18128;
    border-radius: 4px;
    color:black;
    font-size: 16px;
    line-height: 11px;
    font-weight: 500;
    border: none;
    justify-content: center;
 
}
.vue-btn:hover{
background: linear-gradient(45deg, rgb(29, 17, 62) 26%, rgb(97, 9, 148));
color: #ffffff;
}
    
/* button end */




.wrapp{
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(11,11,13,1) 0%, rgba(10,10,33,1) 71%, rgba(5,12,55,1) 100%);
    color: white;
}
.container{
    width: 1140px;
    width: 90%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'comfortaa';
}

.container img{
    width: 300px;
    
}
/* form */
form{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-control{
    height: 40px;
    border: none;
  border-radius: 4px;

}
.container a{
    color: #F18128;

}


.re-au_logos{
display: flex;
gap: 15px;
margin: 20px auto;
}
.re-au_logos img{
    width: 40px;
    height: 40px;
}
/* form end*/